<section class="content-section">
  <div class="row">
    <div class="large-3 columns">
      <span class="big-number">01.</span>
    </div>

    <div class="large-9 columns">
      <h2>A mission I believe in</h2>

      <p>
        We strive to be the place where hackers come together
        and share what they're building to get recognition, to learn and get inspired.
      </p>

      <p>
        That's an exciting goal, wouldn't you agree? And you can <%= link_to "help us", "#jobs" %> reach it.
      </p>
    </div>

    <div class="large-12 columns" id="main-features">
      <div class="row">
        <div class="large-3 columns">
          <p class="text-right caption">How are we going about achieving our mission?</p>
        </div>
        <div class="large-3 columns">
          <p><%= image_tag "feed.png" %></p>
          <p>
            <small>
            The <strong>Feed</strong> lets you follow your favorite hackers and those you just met at the last hackathon, and see what they're building.
            </small>
          </p>
        </div>
        <div class="large-3 columns">
          <p><%= image_tag "portfolio.jpg" %></p>
          <p>
            <small>
              <strong>Portfolios</strong> showcase your personal and professional projects, highlight your skills, and illustrate how you've grown as a developer.
            </small>
          </p>
        </div>
        <div class="large-3 columns">
          <p><%= image_tag "hackathonplatform.jpg" %></p>
          <p>
            <small>
              Our <strong>Hackathon platform</strong> powers most of the biggest hackathons on the planet, including MHacks, PennApps, Oculus' Mobile VR Jam and the Uber Hackathon.
            </small>
          </p>
        </div>
      </div>
    </div>

    <div class="large-9 columns large-push-3">
      <p>
        These features are being built using
        <span class="tag"><%= image_tag "icons/rails.png" %> Rails 4</span>
        <span class="tag"><%= image_tag "icons/redis.png" %> Redis</span>
        <span class="tag"><%= image_tag "icons/solr.png", class: "round" %> Solr</span>
        <span class="tag"><%= image_tag "icons/getstream.jpg" %> Stream</span>
        <span class="tag"><%= image_tag "icons/backbone.png" %> Backbone</span>
        <span class="tag"><%= image_tag "icons/marionette.png" %> Marionette</span>, amongst other technos.
      </p>
    </div>
    <div class="columns"></div>
  </div>
</section>