<section class="content-section">

      <div class="row">
        <div class="large-3 columns">
          <span class="big-number">02.</span>
        </div>

        <div class="large-9 columns">
          <h2>Just a day at the office</h2>

          <div class="event first">
            <time>10:30 AM</time>

            <p>
              10:30 is late enough to make 90% of your friends jealous. And at the end of the day, isn't that what matters?
            </p>

            <p>
              We start with stand-up.
              We talk about what we're working on, ask for help, learn about what the Product Team is working on etc.
            </p>
            <p>
              Trello is an integral part of our process.
            </p>
          </div>

        </div>
      </div>

      <%= render "home/trello_board" %>

      <div class="row">
<!--         <div class="large-3 columns">

        </div> -->

        <div class="large-9 columns large-push-3">
          <div class="event">
            <time>12:00 pm</time>

            <p>
              <%= image_tag "chelsea.jpg", class: "right medium-4 polaroid show-for-medium-up" %>

              Hungry? Me too. Let's head out to <b>Chelsea Market</b>. Or the <b>Gansevoort Market</b>. Or... Really, you can't go wrong in the Meatpacking District.
              <br>
              <small><i>ps: except the Sugar Factory. Don't go. Just don't.</i></small>
            </p>
          </div>

          <div class="event">
            <time>1:00 pm</time>

            <p>
              Get some good work done, on your own, or pair-programming.
            </p>
          </div>
        </div>

        <div class="large-12 columns">
          <figure>
            <div class="row">
              <div class="large-3 columns">
                <figcaption>
                  Watch this awesome little interview of <%= link_to "@mgerrior", "http://devpost.com/mgerrior" %> talking about pair programming with <%= link_to "@nealrs", "http://devpost.com/nealrs" %>.
                </figcaption>
              </div>
              <div class="large-6 columns event-border">
                <div class="flex-video">
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/-sdTq0ZxZZg" frameborder="0" allowfullscreen></iframe>
                </div>
              </div>
              <div class="columns"></div>
            </div>
          </figure>
        </div>
      </div>

      <div class="row">

        <div class="large-9 columns large-push-3">
          <div class="event">
            <p>
              Thursday afternoons are special. We call them <strong>Dev Thursdays</strong>! They're our own version of Google's 20% time. It's your chance to build whatever it is you're passionate about.
              <br>
              Really cool projects came out of it, like the <%= link_to "Devpost Search", "http://devpost.com/software/searchcp" %>, the <%= link_to ":emoji: support", "http://devpost.com/software/emoji-support-on-challengepost" %> or an <%= link_to "unofficial Devpost API", "http://devpost.com/software/unofficial-challengepost-api" %>!
            </p>
          </div>

        </div>

        <div class="large-12 columns">
          <div class="row">
            <div class="large-3 columns"></div>
          </div>
        </div>
      </div>


      <div class="row">

        <div class="large-9 columns large-push-3">
          <div class="event">
            <time>3:00 PM</time>

            <p>
              Chocolate-covered almonds break!
              <br>
              Little known fact, they make you twice as productive. <%= image_tag "tmyk.png" %>
            </p>

            <%= image_tag "almonds.png", style: "margin-left: -1.5em;" %>
          </div>

        </div>
      </div>

      <div class="row">

        <div class="large-9 columns large-push-3">
          <div class="event">
            <time>6:30 PM</time>

            <p>
              Good work today, you're free to go home and play with your dog in the park!
            </p>

            <p>
              That being said, we often get passionate about what we're working on,
              and I'll probably be working alongside you if you decide to stay until 8.
              <br>
              <small><i>ps: except the Sugar Factory. Don't go. Just don't.</i></small>
            </p>
          </div>

        </div>
      </div>
</section>
