<section class="content-section">

      <div class="row">
        <div class="large-3 columns">
          <span class="big-number">02.</span>
        </div>

        <div class="large-9 columns">
          <h2>A typical day at the office</h2>

          <div class="event first">
            <time>10:30 AM</time>

            <p>
              10:30 is late enough to make 90% of your friends jealous. And at the end of the day, isn't that what matters?
            </p>

            <p>
              Every day the engineering team starts with <em>stand-up</em>.
              We each talk about what we're working on, ask for help, and discuss what's coming up next with the Product Team and our CEO.
            </p>
            <p>
              Trello is an <%= link_to "integral part", "http://blog.devpost.com/post/83012263224/how-we-use-trello-to-manage-continuous-delivery" %> of our workflow.
            </p>
          </div>

        </div>
      </div>

      <%= render "home/trello_board" %>

      <div class="row">
<!--         <div class="large-3 columns">

        </div> -->

        <div class="large-9 columns large-push-3">
          <div class="event">
            <time>12:00 pm</time>

            <p>
              <%= image_tag "chelsea.jpg", class: "right medium-4 polaroid show-for-medium-up" %>

              Hungry? Me too. Let's head out to <strong><%= link_to "Chelsea Market", "http://www.chelseamarket.com/" %></strong>. Or the <strong><%= link_to "Gansevoort Market", "http://www.gansmarket.com/" %></strong>. Or anywhere really. You can't go wrong in the Meatpacking District.
              <br>
              <small><i>Except the Sugar Factory. Just trust me on this one.</i></small>
            </p>
          </div>

          <div class="event">
            <time>1:00 pm</time>

            <p>
              Time to get some good work done on your own, or by pairing with a teammate.
              <br>
              <small><i>You might want to turn off your Slack notifications, #random gets a little gif-happy after lunch.</i></small>
            </p>
          </div>
        </div>

        <div class="large-12 columns">
          <figure>
            <div class="row">
              <div class="large-3 columns">
                <figcaption>
                  Watch this awesome little interview of <%= link_to "@mgerrior", "http://devpost.com/mgerrior" %> talking about pair programming with <%= link_to "@nealrs", "http://devpost.com/nealrs" %>.
                </figcaption>
              </div>
              <div class="large-6 columns event-border">
                <div class="flex-video">
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/-sdTq0ZxZZg" frameborder="0" allowfullscreen></iframe>
                </div>
              </div>
              <div class="columns"></div>
            </div>
          </figure>
        </div>
      </div>

      <div class="row">

        <div class="large-9 columns large-push-3">
          <div class="event">
            <p>
              Thursday afternoons are special. We call them <strong>Dev Thursdays</strong> and they're our take on Google's fabled 20% time. Take a crazy idea you're passionate about, build a prototype, and iterate on it.
              <br>
              Several Dev Thursday projects made it to production, like the <%= link_to "Devpost Search", "http://devpost.com/software/searchcp" %>, the <%= link_to ":emoji: support", "http://devpost.com/software/emoji-support-on-challengepost" %> or an <%= link_to "unofficial Devpost API", "http://devpost.com/software/unofficial-challengepost-api" %>!
            </p>
          </div>

        </div>

        <div class="large-12 columns">
          <div class="row">
            <div class="large-3 columns"></div>
          </div>
        </div>
      </div>


      <div class="row">

        <div class="large-9 columns large-push-3">
          <div class="event">
            <time>3:00 PM</time>

            <p>
              Chocolate-covered almond break!
              <br>
              Little known fact: chocolate makes you twice as productive. <%= image_tag "tmyk.png" %>
            </p>

            <%= image_tag "almonds.png", style: "margin-left: -1.5em;" %>
          </div>

        </div>
      </div>

      <div class="row">

        <div class="large-9 columns large-push-3">
          <div class="event">
            <time>6:30 PM</time>

            <p>
              Power down. Get up. Go play with your dog. We'll see you tomorrow!
            </p>

            <p>
              That being said, we often get passionate about what we're working on,
              and I'll probably be working alongside you if you decide to stay late.
            </p>
          </div>

        </div>
      </div>
</section>
