<section class="content-section">

      <div class="row">
        <div class="large-3 columns">
          <span class="big-number">01.</span>
        </div>

        <div class="large-9 columns">
          <h2>A typical day at the office</h2>

          <div class="event first">
            <time>10:30 AM</time>

            <p>
              10:30 is late enough to make 90% of your friends jealous. And at the end of the day, isn't that what matters?
            </p>

            <p>
              Every day the engineering team starts with <em>stand-up</em>.
              We each talk about what we're working on, ask for help, and discuss what's coming up next with the Product Team and our CEO.
            </p>
            <p>
              Trello is an <a href="http://blog.devpost.com/post/83012263224/how-we-use-trello-to-manage-continuous-delivery">integral part</a> of our workflow.
            </p>
          </div>

        </div>
      </div>

      <%= render "home/trello_board" %>

      <div class="row">
<!--         <div class="large-3 columns">

        </div> -->

        <div class="large-9 columns large-push-3">
          <div class="event">
            <time>12:00 pm</time>

            <p>
              <%= image_tag "chelsea.jpg", class: "right large-4 polaroid" %>

              Hungry? Me too. Let's head out to <strong><a href="http://www.chelseamarket.com/">Chelsea Market</a></strong>. Or the <strong><a href="http://www.gansmarket.com/">Gansevoort Market</a></strong>. Or anywhere really. You can't go wrong in the Meatpacking District.
              <br>
              <small><i>Except the Sugar Factory. Trust me on this one.</i></small>
              <!-- How about embedding a stylized (or clickable) map with our location and map markers of 3-5 restaurants?-->
            </p>
          </div>

          <div class="event">
            <time>1:00 pm</time>

            <p>
              Time to get some good work done on your own, or by pairing with a teammate.
              <br>
              <small><i>You might want to turn off your Slack notifications, #random gets a little gif-happy after lunch.</i></small>
            </p>
          </div>
        </div>

        <div class="large-12 columns">
          <figure>
            <div class="row">
              <div class="large-3 columns">
                <figcaption>
                  <p>
                    One of the most exciting things we're building right now is our hacker feed.
                  </p>
                  <p>
                    It's an ambitious project and we need your help to make it great!
                  </p>
                </figcaption>
              </div>
              <div class="large-9 columns event-border">
                <p>
                  <%= image_tag "feed.png", class: "img-border shadow" %>
                </p>
              </div>
            </div>
          </figure>
        </div>
      </div>

      <div class="row">

        <div class="large-9 columns large-push-3">
          <div class="event">
            <p>
              Thursday afternoons are special. We call them <strong>Dev Thursdays</strong> and they're our take on Google's fabled 20% time. Take a crazy idea, build a prototype, and iterate on it. We've actually deployed several Dev Thursday projects to production.
            </p>
          </div>

        </div>

        <div class="large-12 columns">
          <div class="row">
            <div class="large-3 columns"></div>
          </div>
        </div>
      </div>


      <div class="row">

        <div class="large-9 columns large-push-3">
          <div class="event">
            <time>3:00 PM</time>

            <p>
              Chocolate-covered almond break!
              <br>
              Little known fact: chocolate makes you twice as productive. <%= image_tag "tmyk.png" %>
            </p>

            <%= image_tag "almonds.png", style: "margin-left: -1.5em;" %>
          </div>

        </div>
      </div>

      <div class="row">

        <div class="large-9 columns large-push-3">
          <div class="event">
            <time>6:30 PM</time>

            <p>
              Power down. Get up. Go home. We'll see you tomorrow!
            </p>
          </div>

        </div>
      </div>
</section>
