<section class="content-section">

      <div class="row">
        <div class="large-3 columns">
          <span class="big-number">01.</span>
        </div>

        <div class="large-9 columns">
          <h2>Just a day at the office</h2>

          <div class="event first">
            <time>10:30 AM</time>

            <p>
              10:30 is late enough to make 90% of your friends jealous. And at the end of the day, isn't it what matters?
            </p>

            <p>
              We start with stand-up.
              We talk about what we're working on, ask for help, learn about what the Product Team is working on etc.
            </p>
            <p>
              Trello is an integral part of our process.
            </p>
          </div>

        </div>
      </div>

      <%= render "home/trello_board" %>

      <div class="row">
<!--         <div class="large-3 columns">

        </div> -->

        <div class="large-9 columns large-push-3">
          <div class="event">
            <time>12:00 pm</time>

            <p>
              <%= image_tag "chelsea.jpg", class: "right large-4 polaroid" %>

              Hungry? Me too. Let's head out to <b>Chelsea Market</b>. Or the <b>Gansevoort Market</b>. Or... Really, you can't go wrong in the Meatpacking District.
              <br>
              <small><i>ps: except the Sugar Factory. Don't go. Just don't.</i></small>
            </p>
          </div>

          <div class="event">
            <time>1:00 pm</time>

            <p>
              Get some good work done, on your own, or pair-programming.
            </p>
          </div>
        </div>

        <div class="large-12 columns">
          <figure>
            <div class="row">
              <div class="large-3 columns">
                <figcaption>
                  One of the most exciting feature we're building right now is our hacker feed.
                  <br>
                  It's an ambitious feature, and we need your help to build it.
                </figcaption>
              </div>
              <div class="large-9 columns event-border">
                <p>
                  <%= image_tag "feed.png", class: "img-border shadow" %>
                </p>

                <p>
                  Thursday afternoons are what we call <strong>Dev Thursdays</strong>! They're our own version of Google's 20% time.
                  [give examples]
                </p>
              </div>
            </div>
          </figure>
        </div>
      </div>


      <div class="row">

        <div class="large-9 columns large-push-3">
          <div class="event">
            <time>3:00 PM</time>

            <p>
              Chocolate-covered almonds break!
              <br>
              Little known fact, they make you twice as productive. <%= image_tag "tmyk.png" %>
            </p>

            <%= image_tag "almonds.png", style: "margin-left: -1.5em;" %>
          </div>

        </div>
      </div>

      <div class="row">

        <div class="large-9 columns large-push-3">
          <div class="event">
            <time>6:30 PM</time>

            <p>
              Good work, see you tomorrow!
            </p>
          </div>

        </div>
      </div>
</section>
