<section class="content-section" id="jobs">
  <div class="row">
    <div class="large-3 columns">
      <span class="big-number">05.</span>
    </div>

    <div class="large-9 columns">
      <h2>Come work with me</h2>

      <p>At this point, you should be like <em>"I want to go to there"</em>!
        <br>
        Great! Take a look at our open positions:</p>
    </div>
  </div>

  <div class="row">
    <div class="large-3 columns">
      <a href="http://www.jsco.re/30nh" class="card" target="_blank">
        <%= image_tag "icons/hero.png" %>

        <h3>Senior Developer</h3>

        <ul class="no-bullet">
          <li>5+ years XP</li>
          <li>Great at leading teams</li>
          <li>Rock solid in Rails or ability to get up to speed fast</li>
        </ul>
      </a>
    </div>
    <div class="large-3 columns">
      <a href="http://www.jsco.re/30ng" class="card" target="_blank">
        <%= image_tag "icons/dev.png" %>

      <h3>Developer</h3>

      <ul class="no-bullet">
        <li>2+ years XP</li>
        <li>Solid Rails developer</li>
        <li>Eager to improve and share knowledge</li>
      </ul>
      </a>
    </div>
    <div class="large-3 columns">
      <a href="http://www.jsco.re/30ng" class="card" target="_blank">
        <%= image_tag "icons/junior.png" %>

      <h3>Junior Developer</h3>

      <ul class="no-bullet">
        <li>Motivated and enthusiastic</li>
        <li>Eager to learn</li>
        <li>Some programming experience</li>
      </ul>
      </a>
    </div>
    <div class="large-3 columns">
      <a href="http://www.jsco.re/30ni" class="card" target="_blank">
        <%= image_tag "icons/product.png" %>

        <h3>Product Manager</h3>

        <ul class="no-bullet">
          <li>3+ years XP</li>
          <li>Both data-driven &amp; creative</li>
          <li>Works well with teams</li>
          <li>Organized</li>
        </ul>
      </a>
    </div>
  </div>

  <div class="row">
    <div class="large-9 columns large-push-3">
      <p>By the way, we pay well, we have great insurance, and you can take time off whenever you want.

        <br>
        <%= link_to "And that's just for starters", "http://info.devpost.com/careers" %>.</p>
    </div>
  </div>
</section>
