<section class="content-section">
  <div class="row">
    <div class="large-3 columns">
      <span class="big-number">03.</span>
    </div>

    <div class="large-9 columns">
      <h2>The office</h2>

      <p>I could tell you about the office, or I could show you.</p>
    </div>

    <div class="large-12 columns photo-grid">
      <div class="row">
        <div class="large-6 columns">
          <%= image_tag "office/2.jpg" %>
        </div>
        <div class="large-3 columns">
          <%= image_tag "office/1.jpg" %>

          <%= image_tag "office/4.jpg" %>
        </div>
        <div class="large-3 columns">
          <%= image_tag "office/3.jpg" %>
        </div>
      </div>
    </div>

    <div class="large-9 columns large-push-3">
      <p>I tricked you. I'm still going to tell you about it.</p>

      <div class="list">
      <p><span>1.</span> It's colorful, it's full of light and good people, and it's super well located.</p>

      <p><span>2.</span> We have a well-stocked kitchen. We order at Fresh Direct every week. Something you looove (like idk, Nutella) is missing? Just ask <%= link_to "@Stefanie", "http://challengepost.com/stefgreat" %> and she'll get it for you.
        <br>
        <small>Just kidding, we always have Nutella. Who do you think we are?</small>
      </p>

      <div class="row">
        <div class="large-8 columns">
          <p>
            <span>3.</span> We have a ping-pong table for the sportive geek you are (and to eliminate all the chocolate-covered almonds you ate).
            <br>
            Plus if you're really good, you're hired, no questions asked.<br>
            <small>Maybe I shouldn't have said that, let me ask my boss. <br>Apparently you also need to be good at Rails :(</small><br>
          </p>

          <p>
            <span>4.</span> Also, beers.
          </p>
        </div>
        <div class="large-4 columns">
          <%= image_tag "beer.png", class: "wide" %>
        </div>
      </div>
      </div>
    </div>

    <div class="columns"></div>
  </div>
</section>
