<section class="content-section">
  <div class="row">
    <div class="large-3 columns">
      <span class="big-number">&mdash; Chapter 3</span>
    </div>

    <div class="large-9 columns">
      <h2>The office</h2>

      <p>I could tell you about the office, or I could show you.</p>
    </div>

    <div class="large-12 columns photo-grid">
      <div class="row">
        <div class="large-6 columns">
          <%= image_tag "https://igcdn-photos-a-a.akamaihd.net/hphotos-ak-xaf1/t51.2885-15/11426418_840443546046568_1773995811_n.jpg" %>
        </div>
        <div class="large-3 columns">
          <%= image_tag "https://igcdn-photos-a-a.akamaihd.net/hphotos-ak-xaf1/t51.2885-15/11426418_840443546046568_1773995811_n.jpg" %>

          <%= image_tag "https://igcdn-photos-a-a.akamaihd.net/hphotos-ak-xaf1/t51.2885-15/11426418_840443546046568_1773995811_n.jpg" %>
        </div>
        <div class="large-3 columns">
          <%= image_tag "https://igcdn-photos-a-a.akamaihd.net/hphotos-ak-xaf1/t51.2885-15/11426418_840443546046568_1773995811_n.jpg" %>

          <%= image_tag "https://igcdn-photos-a-a.akamaihd.net/hphotos-ak-xaf1/t51.2885-15/11426418_840443546046568_1773995811_n.jpg" %>
        </div>
      </div>
    </div>
  </div>
</section>
