<section class="content-section">
  <div class="row">
    <div class="large-3 columns">
      <span class="big-number">04.</span>
    </div>

    <div class="large-9 columns">
      <h2>The office</h2>

      <p>I could tell you about the office, or I could show you.</p>
    </div>

    <div class="large-12 columns photo-grid">
      <div class="row">
        <div class="medium-6 columns">
          <%= image_tag "office/2.jpg" %>
        </div>
        <div class="medium-3 columns">
          <%= image_tag "office/1.jpg" %>

          <%= image_tag "office/4.jpg" %>
        </div>
        <div class="medium-3 columns">
          <%= image_tag "office/3.jpg" %>
        </div>
      </div>
    </div>

    <div class="large-9 columns large-push-3">
      <p>I tricked you. I'm still going to tell you about it.</p>

      <div class="list">
      <p><span>1.</span> It's colorful, it's full of light and good people, and it's super well located.</p>

      <p><span>2.</span> We have a well-stocked kitchen. We order at Fresh Direct every week. Something you looove (like idk, Nutella) is missing? Just ask <%= link_to "@stefgreat", "http://devpost.com/stefgreat" %> and she'll get it for you.
        <br>
        <small>Just kidding, we always have Nutella. Who do you think we are?</small>
      </p>

      <div class="row">
        <div class="medium-8 columns">
          <p>
            <span class="">3.</span> We have a ping-pong table for the sportive geek you are (and to eliminate all the chocolate-covered almonds you ate).
            <br>
            Plus if you're really good, you're hired, no questions asked.<br>
            <small>Maybe I shouldn't have said that, let me ask my boss. <br>Apparently you also need to be good at Rails :(</small><br>
          </p>

          <p>
            <span>4.</span> Also, beers.
            <span style="color:#666666;">O</span><span style="color:#696969;">r</span><span style="color:#6c6c6c;"> </span><span style="color:#6e6e6e;">t</span><span style="color:#717171;">e</span><span style="color:#747474;">a</span><span style="color:#777777;">,</span><span style="color:#7a7a7a;"> </span><span style="color:#7d7d7d;">f</span><span style="color:#7f7f7f;">a</span><span style="color:#828282;">n</span><span style="color:#858585;">c</span><span style="color:#888888;">y</span><span style="color:#8b8b8b;"> </span><span style="color:#8d8d8d;">c</span><span style="color:#909090;">o</span><span style="color:#929292;">f</span><span style="color:#959595;">f</span><span style="color:#989898;">e</span><span style="color:#9a9a9a;">e</span><span style="color:#9d9d9d;">,</span><span style="color:#a0a0a0;"> </span><span style="color:#a2a2a2;">s</span><span style="color:#a5a5a5;">e</span><span style="color:#a7a7a7;">l</span><span style="color:#aaaaaa;">t</span><span style="color:#adadad;">z</span><span style="color:#b0b0b0;">e</span><span style="color:#b3b3b3;">r</span><span style="color:#b5b5b5;">,</span><span style="color:#b8b8b8;"> </span><span style="color:#bbbbbb;">g</span><span style="color:#bebebe;">r</span><span style="color:#c1c1c1;">a</span><span style="color:#c4c4c4;">p</span><span style="color:#c6c6c6;">e</span><span style="color:#c9c9c9;">f</span><span style="color:#cccccc;">r</span><span style="color:#cfcfcf;">u</span><span style="color:#d2d2d2;">i</span><span style="color:#d5d5d5;">t</span><span style="color:#d7d7d7;"> </span><span style="color:#dadada;">j</span><span style="color:#dddddd;">u</span><span style="color:#e0e0e0;">i</span><span style="color:#e3e3e3;">c</span><span style="color:#e6e6e6;">e</span><span style="color:#e8e8e8;">.</span><span style="color:#ebebeb;">.</span><span style="color:#eeeeee;">.</span>
            Whatever floats your boat!
          </p>
        </div>
        <div class="medium-4 columns">
          <%= image_tag "beer.png", class: "wide show-for-medium-up" %>
        </div>
      </div>
      </div>
    </div>

    <div class="columns"></div>
  </div>
</section>
