<header id="page-header">
  <div class="row">
    <div class="large-12 columns">
      <h1 class="text-center">
        Why I love working at<br> Devpost
      </h1>

      <h2 class="text-center">&mdash; and why you will too.</h2>

      <%= image_tag "desk.png", id: "desk" %>
    </div>
  </div>
</header>

<section class="content-section small-section primary" id="table">
  <div class="row">
    <div class="large-12 columns">
      <% if false %>
      <p>You should come work with me!
        <%= link_to "Check out our job openings below.", "#" %>
      </p>
      <% end %>
    </div>
  </div>
</section>

<%= render "home/about_us" %>
<%= render "home/day_to_day" %>
<%= render "home/build_cool_stuff" %>
<%= render "home/the_office" %>
<%= render "home/positions" %>
<%= render "home/footer" %>

<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>

<script type="text/javascript">
$(function() {
  // $grid = $("#grid");
  // timeoutId = 0

  // var hideGridAfterDelay = function() {
  //   if (timeoutId) { clearTimeout(timeoutId) }

  //   timeoutId = setTimeout(function() {
  //     $grid.addClass('faded')
  //   }, 500);
  // };

  // var showGrid = function() {
  //   $grid.removeClass('faded')
  // }

  // $(window).on("scroll", function() {
  //   showGrid();
  //   hideGridAfterDelay();
  // })
})
</script>
